* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#load-model {
  padding: 1rem;
}

#load-model input{
  z-index: 1;
  position: absolute;
  margin-left: 10px;
}

#app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#viewer-container {
  width: 65%;
  height: 100%;
}

#bim-app {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#props-container {
  margin: 16px;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  padding: 10px;
  overflow: auto;
}

.message {
  display: inline;
  color: black;
}

/* My clases */
.border {
  border: 1px solid #ccc;
}